.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #171d25;
}
.home-container1 {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-image {
  width: 120px;
  height: 100%;
  object-fit: cover;
  padding-left: 14px;
}
.home-text {
  color: rgb(62, 128, 217);
  height: 80px;
  font-size: 90px;
  font-family: Dongle;
}
.home-text3 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-family: Dongle;
  font-weight: 300;
}
